* {
  box-sizing: border-box;
}

h1 {
  background-color: #F1C5A8;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0px;
  position: fixed;
  top: 0px;
  z-index: 1;
  min-width: 500px;
  box-shadow: 10px 10px 20px rgba(122, 79, 0, 0.102);
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  text-align: center;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

button{
  background-color: bisque;
  border-style: dashed;
  border-color: white;
  box-shadow: 10px 10px 20px rgba(122, 79, 0, 0.102);
  font-size: 20px;
  font-weight: bolder;
  color: white;

  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 80px;
}

.question-card {
  background-color: rgb(255, 247, 238);
  width: 80%;
  padding: 35px;
  padding-top: 35px;
  position: relative;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(122, 79, 0, 0.102);
  margin-bottom: 50px;
  min-width: 500px;
}

.card-bookmark{
  position: absolute;
  right: 5px;
  top: -10px;
  -webkit-filter: drop-shadow(5px 5px 5px #c6c4c4);
  filter: drop-shadow(5px 5px 5px #c6c4c45f);
}

.inner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badges{
  display: flex;
  margin-top: 40px;
}

.html-badge{
  background-color: #EDB183;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
  border-radius: 3px;
}

.flexbox-badge {
  background-color: #1E555C;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
  border-radius: 3px;
}

.css-badge {
  background-color: #F4D8CD;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
  border-radius: 3px;
}

.navbar {
    position: fixed;
    bottom: 0px;
    display: flex;
    background-color: #F1C5A8;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 15px;
    min-width: 500px;
}

.nav-profile {
  height: 48px;
}

.profile-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.profile-top h2{
  margin-left: 50px;
  color: #1E555C;
}

.profile-pic {
  height: 120px;
}

.about{
  width: 70%;
  text-align: justify;
  margin-bottom: 30px;
  color: #1E555C;
}

.counter-card{
  display: flex;
}

.counter-question{
  background-color: #F4D8CD;
  margin: 5px;
  display: flex;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  align-items: center;
  width: 100px;
  justify-content: space-between;
  border-radius: 5px;
  margin-right: 50px;
}
.counter-bookmark{
  background-color: #F4D8CD;
  margin: 5px;
  display: flex;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  align-items: center;
  width: 100px;
  justify-content: space-between;
  border-radius: 5px;
}

.bookmark-img{
  height: 80%;
  padding-right: 20px;
}

.question-img {
  height: 85%;
  padding-right: 20px;
}

.settings{
  margin-top: 30px;
  margin-bottom: 50px;
  width: 50%;
  color: #1E555C;
}

.toggle-box{
/*   margin-bottom: 200px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F4D8CD;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #1E555C;
}

input:focus+.slider {
  box-shadow: 0 0 1px #1E555C;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
