* {
  box-sizing: border-box;
}

h1 {
  background-color: #F1C5A8;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin: 0px;
  position: fixed;
  top: 0px;
  z-index: 1;
  min-width: 500px;
  box-shadow: 10px 10px 20px rgba(122, 79, 0, 0.102);
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
  text-align: center;
}

button{
  background-color: bisque;
  border-style: dashed;
  border-color: white;
  box-shadow: 10px 10px 20px rgba(122, 79, 0, 0.102);
  font-size: 20px;
  font-weight: bolder;
  color: white;

  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 80px;
}

.question-card {
  background-color: rgb(255, 247, 238);
  width: 80%;
  padding: 35px;
  padding-top: 35px;
  position: relative;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(122, 79, 0, 0.102);
  margin-bottom: 50px;
  min-width: 500px;
}

.card-bookmark{
  position: absolute;
  right: 5px;
  top: -10px;
}

.inner-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badges{
  display: flex;
  margin-top: 40px;
}

.html-badge{
  background-color: #EDB183;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
  border-radius: 3px;
}

.flexbox-badge {
  background-color: #1E555C;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
  border-radius: 3px;
}

.css-badge {
  background-color: #F4D8CD;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  color: white;
  border-radius: 3px;
}

.navbar {
    position: fixed;
    bottom: 0px;
    display: flex;
    background-color: #F1C5A8;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 15px;
    min-width: 500px;
}

.nav-profile {
  height: 48px;
}
